<phpunit
    bootstrap="tests/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>

    <testsuites>
        <testsuite name="VCR">
            <directory>./tests/VCR</directory>
        </testsuite>
        <testsuite name="EntryPoint">
            <directory>./tests/EntryPoint</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>./tests/Core</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
