-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/beneficiaries/081596c9-02de-483e-9f2a-4cf55dcdf98c
    body: ''
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"id":"081596c9-02de-483e-9f2a-4cf55dcdf98c","bank_account_holder_name":"Test User","name":"Test User","email":null,"payment_types":["regular"],"beneficiary_address":[],"beneficiary_country":null,"beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"GB","bank_name":"HSBC BANK PLC","bank_account_type":null,"currency":"GBP","account_number":"41854372","routing_code_type_1":"sort_code","routing_code_value_1":"400730","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"default_beneficiary":"false","creator_contact_id":"c4d838e8-1625-44c6-a9fb-39bcb1fe353d","bank_address":null,"beneficiary_external_reference":null,"created_at":"2015-04-25T09:21:00+00:00","updated_at":"2015-04-25T09:21:00+00:00"}'
-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/beneficiaries/081596c9-02de-483e-9f2a-4cf55dcdf98c
    body: '--5603f6a8ef4892b87e60c5c9552c37ba765a4805\r\nContent-Disposition: form-data; name=\"bank_account_holder_name\"\r\nContent-Length: 11\r\n\r\nTest User 2\r\n--5603f6a8ef4892b87e60c5c9552c37ba765a4805\r\nContent-Disposition: form-data; name=\"email\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--5603f6a8ef4892b87e60c5c9552c3[...]
