-
  request:
    method: POST
    url: https://devapi.thecurrencycloud.com/v2/authenticate/api
    body: login_id=non-existent-login-id&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb57528f0
    headers:
      Content-Type: application/x-www-form-urlencoded
  response:
    status: 400
    headers:
      Content-Type: application/json;charset=utf-8
    body: '{"error_code":"auth_invalid_user_login_details","error_messages":{"api_key":[{"code":"api_key_length_is_invalid","message":"api_key should be 64 character(s) long","params":{"length":64}}]}}'
