-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: --a13ffef1d28481cd272fd5e83ff62b295e4975ef\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--a13ffef1d28481cd272fd5e83ff62b295e4975ef\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--a13ffef1d28481cd272fd5e83ff62b295e4975ef--\r\n
  response:
    status: 500
    headers:
      Content-Type: application/json
    body: '{"error_code":"internal_application_error","error_messages":{"base":[{"code":"internal_application_error","message":"A general application error occurred","params":{"request_id":2771875643610572878}}]}}'
