-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: --f7a43c9a6e4aa0abe0dab1ae4ad6adfde0222741\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--f7a43c9a6e4aa0abe0dab1ae4ad6adfde0222741\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--f7a43c9a6e4aa0abe0dab1ae4ad6adfde0222741--\r\n
  response:
    status: 403
    headers:
      Content-Type: application/json
    body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
