-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: '--16210d7be397aad65bde332790f7fcfef8b112d8\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--16210d7be397aad65bde332790f7fcfef8b112d8\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--16210d7be397aad65bde332790f7fcfef8b112d8--\r\n'
  response:
    status: 429
    headers:
      Content-Type: application/json
    body: '{"error_code":"too_many_requests","error_messages":{"base":[{"code":"too_many_requests","message":"Too many requests have been made to the api. Please refer to the Developer Center for more information","params":{}}]}}'
