-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
  response:
    status: 500
    headers:
      Content-Type: application/json
    body: '{"error_code":"internal_application_error","error_messages":{"base":[{"code":"internal_application_error","message":"A general application error occurred","params":{"request_id":2771875643610572878}}]}}'
