-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/authenticate/api
    body: login_id=rjnienaber%40gmail.com&api_key=ef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0
  response:
    status: 429
    headers:
      Content-Type: application/json
    body: '{"error_code":"too_many_requests","error_messages":{"base":[{"code":"too_many_requests","message":"Too many requests have been made to the api. Please refer to the Developer Center for more information","params":{}}]}}'
