-
    request:
        method: POST
        url: https://devapi.currencycloud.com/v2/authenticate/api
        body: '--9d3338bf6fb9195b3cc78a39a9a8d2e6f9734a48\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--9d3338bf6fb9195b3cc78a39a9a8d2e6f9734a48\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--9d3338bf6fb9195b3cc78a39a9a8d2e6f9734a48--\r\n'
    response:
        status: 200
        headers:
            Content-Type: application/json
        body: '{"auth_token":"038022bcd2f372cac7bab448db7b5c3b"}'
-
    request:
        method: POST
        url: https://devapi.currencycloud.com/v2/beneficiaries/find
        headers:
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    response:
        status: 200
        headers:
            Content-Type: application/json
        body: '{"beneficiaries":[],"pagination":{"total_entries":0,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":-1,"order":"created_at","order_asc_desc":"asc"}}'
