-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/payers/fa0b6125-6f81-4fc1-8861-544d7d5c9cdf'
        headers:
            X-Auth-Token: 0d0ea48304ebafe27ea9d57d712128a8
    response:
        status:
            code: '404'
            message: 'Not Found'
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"error_code":"payer_not_found","error_messages":{"id":[{"code":"payer_not_found","message":"Payer was not found for this id","params":{}}]}}'
