-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/rates/detailed?buy_currency=GBP&sell_currency=USD&fixed_side=buy&amount=10000&conversion_date_preference=optimize_liquidity
    body: ''
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{
                         "settlement_cut_off_time": "2020-05-21T14:00:00Z",
                         "currency_pair": "GBPUSD",
                         "client_buy_currency": "GBP",
                         "client_sell_currency": "USD",
                         "client_buy_amount": "10000.00",
                         "client_sell_amount": "14081.00",
                         "fixed_side": "buy",
                         "client_rate": "1.4081",
                         "partner_rate": null,
                         "core_rate": "1.4081",
                         "deposit_required": false,
                         "deposit_amount": "0.0",
                         "deposit_currency": "USD",
                         "mid_market_rate": "1.4080"
                     }'
