-
  request:
    method: GET
    url: https://devapi.thecurrencycloud.com/v2/reference/currencies
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"currencies":[{"code":"AED","name":"United Arab Emirates Dirham","online_trading":true,"decimal_places":2},{"code":"AUD","name":"Australian Dollar","online_trading":true,"decimal_places":2},{"code":"BGN","name":"Bulgarian Lev","online_trading":true,"decimal_places":2},{"code":"BHD","name":"Bahraini Dinar","online_trading":false,"decimal_places":2},{"code":"CAD","name":"Canadian Dollar","online_trading":true,"decimal_places":2},{"code":"CHF","name":"Swiss Franc","online_trading":true,"decimal_places":2},{"code":"CNY","name":"Chinese Yuan","online_trading":true,"decimal_places":1},{"code":"CZK","nam[...]
