-
  request:
    method: POST
    url: 'https://devapi.currencycloud.com/v2/reports/payments/create'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    body: '--8dc5b05b1e195f38b10285bcad4816b8b793096c\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nEUR\r\n--8dc5b05b1e195f38b10285bcad4816b8b793096c--\r\n'
  response:
    status: 401
    headers:
      Content-Type: application/json
    body: '{    "error_code": "auth_failed",    "error_messages": {"username": [ {                "code": "invalid_supplied_credentials",                "message": "Authentication failed with the supplied credentials",                "params": {}            }        ]    }}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=7bbc6192b62ccc0cb6bbf1f3ccf701c9c2c04681'
        body: "--7bbc6192b62ccc0cb6bbf1f3ccf701c9c2c04681\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--7bbc6192b62ccc0cb6bbf1f3ccf701c9c2c04681\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--7bbc6192b62ccc0cb6bbf1f3ccf701c9c2c04681--\r\n"
    response:
        status:
            code: 401
            message: Unauthorized
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
        curl_info:
            url: 'https://devapi.currencycloud.com/v2/authenticate/api'
            content_type: application/json;charset=utf-8
            http_code: 401
            header_size: 1318
            request_size: 584
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.190112
            namelookup_time: 0.026572
            connect_time: 0.03197
            pretransfer_time: 0.04325
            size_upload: 363.0
            size_download: 176.0
            speed_download: 925.0
            speed_upload: 1909.0
            download_content_length: 176.0
            upload_content_length: 363.0
            starttransfer_time: 0.19006
            redirect_time: 0.0
            redirect_url: ''
            primary_ip: 104.18.9.148
            certinfo: {  }
            primary_port: 443
            local_ip: 192.168.4.27
            local_port: 63540
            protocol: 2
            ssl_verifyresult: 0
            scheme: HTTPS
            appconnect_time_us: 43181
            connect_time_us: 31970
            namelookup_time_us: 26572
            pretransfer_time_us: 43250
            redirect_time_us: 0
            starttransfer_time_us: 190060
            total_time_us: 190112
    index: 0
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=404c6ad2cf36ada78df32e7f8ee79008495f6d9d'
        body: "--404c6ad2cf36ada78df32e7f8ee79008495f6d9d\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--404c6ad2cf36ada78df32e7f8ee79008495f6d9d\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length:[...]
