-
  request:
    method: POST
    url: 'https://devapi.currencycloud.com/v2/reports/payments/create'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    body: '--8dc5b05b1e195f38b10285bcad4816b8b793096c\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nEUR\r\n--8dc5b05b1e195f38b10285bcad4816b8b793096c--\r\n'
  response:
    status: 401
    headers:
      Content-Type: application/json
    body: '{    "error_code": "auth_failed",    "error_messages": {"username": [ {                "code": "invalid_supplied_credentials",                "message": "Authentication failed with the supplied credentials",                "params": {}            }        ]    }}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=b9ff3598b13418cf31dca27545698848ca977007'
        body: "--b9ff3598b13418cf31dca27545698848ca977007\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--b9ff3598b13418cf31dca27545698848ca977007\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--b9ff3598b13418cf31dca27545698848ca977007--\r\n"
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
        curl_info:
            url: 'https://devapi.currencycloud.com/v2/authenticate/api'
            content_type: application/json;charset=utf-8
            http_code: 401
            header_size: 1145
            request_size: 585
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.164021
            namelookup_time: 0.037258
            connect_time: 0.041648
            pretransfer_time: 0.066381
            size_upload: 363.0
            size_download: 176.0
            speed_download: 1073.0
            speed_upload: 2213.0
            download_content_length: -1.0
            upload_content_length: 363.0
            starttransfer_time: 0.163961
            redirect_time: 0.0
            redirect_url: ''
            primary_ip: 172.64.149.206
            certinfo: {  }
            primary_port: 443
            local_ip: 10.27.177.159
            local_port: 36246
            protocol: 2
            ssl_verifyresult: 0
            scheme: HTTPS
            appconnect_time_us: 66331
            connect_time_us: 41648
            namelookup_time_us: 37258
            pretransfer_time_us: 66381
            redirect_time_us: 0
            starttransfer_time_us: 163961
            total_time_us: 164021
    index: 0
