-
  request:
    method: POST
    url: 'https://devapi.currencycloud.com/v2/reports/payments/create'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    body: '--8dc5b05b1e195f38b10285bcad4816b8b793096c\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nEUR\r\n--8dc5b05b1e195f38b10285bcad4816b8b793096c--\r\n'
  response:
    status: 401
    headers:
      Content-Type: application/json
    body: '{    "error_code": "auth_failed",    "error_messages": {"username": [ {                "code": "invalid_supplied_credentials",                "message": "Authentication failed with the supplied credentials",                "params": {}            }        ]    }}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=5a141b9ce4a26b70fbefc9166d778806eaa1f9f0'
        body: "--5a141b9ce4a26b70fbefc9166d778806eaa1f9f0\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--5a141b9ce4a26b70fbefc9166d778806eaa1f9f0\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--5a141b9ce4a26b70fbefc9166d778806eaa1f9f0--\r\n"
    response:
        status:
            code: 401
            message: Unauthorized
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
        curl_info:
            url: 'https://devapi.currencycloud.com/v2/authenticate/api'
            content_type: application/json;charset=utf-8
            http_code: 401
            header_size: 1310
            request_size: 585
            filetime: -1
            ssl_verify_result: 0
            redirect_count: 0
            total_time: 0.23192
            namelookup_time: 0.034222
            connect_time: 0.036966
            pretransfer_time: 0.082893
            size_upload: 363.0
            size_download: 176.0
            speed_download: 758.0
            speed_upload: 1565.0
            download_content_length: -1.0
            upload_content_length: 363.0
            starttransfer_time: 0.231847
            redirect_time: 0.0
            redirect_url: ''
            primary_ip: 172.64.149.206
            certinfo: {  }
            primary_port: 443
            local_ip: 10.5.16.165
            local_port: 55955
            protocol: 2
            ssl_verifyresult: 0
            scheme: https
            appconnect_time_us: 82813
            connect_time_us: 36966
            namelookup_time_us: 34222
            pretransfer_time_us: 82893
            redirect_time_us: 0
            starttransfer_time_us: 231847
            posttransfer_time_us: 82892
            total_time_us: 231920
            effective_method: POST
            capath: ''
            cainfo: ''
    index: 0
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=2a02a9c570de46f19905e04660357c77d124db3e'
        body: "--2a02a9c570de46f19905e04660357c77d124db3e\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--2a02a9c570de46f19905e04660357c77d124db3e\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length:[...]
