-
  request:
    method: POST
    url: 'https://devapi.currencycloud.com/v2/reports/payments/create'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    body: '--8dc5b05b1e195f38b10285bcad4816b8b793096c\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nEUR\r\n--8dc5b05b1e195f38b10285bcad4816b8b793096c--\r\n'
  response:
    status: 403
    headers:
      Content-Type: application/json
    body: '{"error_code":"report_write_permission_missing","error_messages":{"base":{"code":"report_write_permission_missing","message":"User does not have permission report_write to perform this operation","params":[]}}}'
