-
  request:
    method: POST
    url: 'https://devapi.currencycloud.com/v2/reports/payments/create'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    body: '--8dc5b05b1e195f38b10285bcad4816b8b793096c\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nEUR\r\n--8dc5b05b1e195f38b10285bcad4816b8b793096c--\r\n'
  response:
    status: 401
    headers:
      Content-Type: application/json
    body: '{    "error_code": "auth_failed",    "error_messages": {"username": [ {                "code": "invalid_supplied_credentials",                "message": "Authentication failed with the supplied credentials",                "params": {}            }        ]    }}'

