-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/balances/GBP
    body: ''
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"id":"5a998e06-3eb7-46d6-ba58-f749864159ce","account_id":"e7483671-5dc6-0132-e126-002219414986","currency":"GBP","amount":"999866.78","created_at":"2014-12-04T09:50:35+00:00","updated_at":"2015-03-23T14:33:37+00:00"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/balances/GBP'
        headers:
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=ac05d5e31a50cb3585af3db258c0556ce2baabca'
        body: "--ac05d5e31a50cb3585af3db258c0556ce2baabca\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--ac05d5e31a50cb3585af3db258c0556ce2baabca\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--ac05d5e31a50cb3585af3db258c0556ce2baabca--\r\n"
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"e035954f08f8d24b86a978c376727ea8"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/balances/GBP'
        headers:
            X-Auth-Token: e035954f08f8d24b86a978c376727ea8
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"6e87663f-7d5d-486d-8cd2-d7c67ac9f840","account_id":"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8","currency":"GBP","amount":"0.00","created_at":"2015-06-24T15:31:24+00:00","updated_at":"2015-06-24T15:31:24+00:00"}'
