-
  request:
    method: GET
    url: https://devapi.currencycloud.com/v2/accounts/current
    body: ''
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"id":"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8","account_name":"Currency Cloud","brand":"currencycloud","your_reference":null,"status":"enabled","street":null,"city":null,"state_or_province":null,"country":null,"postal_code":null,"spread_table":"fxcg_rfx_default","legal_entity_type":null,"created_at":"2015-04-24T15:57:55+00:00","updated_at":"2015-04-24T15:57:55+00:00","identification_type":null,"identification_value":null,"short_reference":"150424-00002"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/accounts/current'
        headers:
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=accf2cef55a48417ed9f80e3c3f3fb08f8a22570'
        body: "--accf2cef55a48417ed9f80e3c3f3fb08f8a22570\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--accf2cef55a48417ed9f80e3c3f3fb08f8a22570\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--accf2cef55a48417ed9f80e3c3f3fb08f8a22570--\r\n"
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"fca1199081f2b0072a38217e27a71d3c"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/accounts/current'
        headers:
            X-Auth-Token: fca1199081f2b0072a38217e27a71d3c
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"8ec3a69b-02d1-4f09-9a6b-6bd54a61b3a8","account_name":"Currency Cloud","brand":"currencycloud","your_reference":"","status":"enabled","street":null,"city":"Manchester","state_or_province":null,"country":null,"postal_code":null,"spread_table":"fxcg_rfx_default","legal_entity_type":null,"created_at":"2015-04-24T15:57:55+00:00","updated_at":"2017-05-15T09:04:37+00:00","identification_type":null,"identification_value":null,"short_reference":"150424-00002","api_trading":true,"online_trading":true,"phone_trading":true,"process_third_party_funds":false,"settlement_type":"bulk"}'
