-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/beneficiaries/validate
    body: '--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"bank_country\"\r\nContent-Length: 2\r\n\r\nGB\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nGBP\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"beneficiary_country\"\r\nContent-Length: 2\r\n\r\nGB\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"account_number\"\r\nContent-Length: 8\r\n\r\n12345678\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"routing_code_type_1\"\r\nContent-Length: 9\r\n\r\nsort_code\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"routing_code_value_1\"\r\nContent-Length: 6\r\n\r\n123456\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9\r\nContent-Disposition: form-data; name=\"payment_types[]\"\r\nContent-Length: 7\r\n\r\nregular\r\n--687f3262516aaf3516ff427665ede7ca1e9fcbb9--\r\n'
    headers:
      X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"payment_types":["regular"],"bank_country":"GB","bank_name":"HSBC BANK PLC","bank_account_type":null,"currency":"GBP","account_number":"12345678","routing_code_type_1":"sort_code","beneficiary_address":[],"beneficiary_country":"GB","beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"routing_code_value_1":"123456","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"bank_address":["5 Wimbledon Hill Rd","Wimbledon","London"],"beneficiary_external_reference":null}'
