- request:
    method: GET
    url: https://devapi.currencycloud.com/v2/beneficiaries/find
    body: ''
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"beneficiaries":[{"id":"081596c9-02de-483e-9f2a-4cf55dcdf98c","bank_account_holder_name":"Test+User","name":"Test+User","email":null,"payment_types":["regular"],"beneficiary_address":[],"beneficiary_country":null,"beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"GB","bank_name":"HSBC BANK PLC","bank_account_type":null,"currency":"GBP","account_number":"12345678","routing_code_type_1":"sort_code","routing_code_value_1":"123456","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"default_beneficiary":"false","creator_contact_id":"c4d838e8-1625-44c6-a9fb-39bcb1fe353d","bank_address":["5 Wimbledon Hill Rd","Wimbledon","London"],"created_at":"2015-04-25T09:21:00+00:00","updated_at":"2015-04-25T09:21:00+00:00"}],"pagination":{"total_entries":1,"total_pages":1,"current_page":1,"per_page":25,"previous_page":-1,"next_page":-1,"order":"created_at","order_asc_desc":"asc"}}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/find'
        headers:
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=eb9617528ed3963d01e476a69093eb313e416c21'
        body: "--eb9617528ed3963d01e476a69093eb313e416c21\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--eb9617528ed3963d01e476a69093eb313e416c21\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--eb9617528ed3963d01e476a69093eb313e416c21--\r\n"
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"71106f07c677988a3bbc77ab290a3845"}'
-
    request:
        method: GET
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/find'
        headers:
            X-Auth-Token: 71106f07c677988a3bbc77ab290a3845
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"beneficiaries":[{"id":"bdc3dbb9-aa9f-46cf-8c18-55882d10ea65","bank_account_holder_name":"Richard+TEST","name":"Richard+test","email":null,"payment_types":[],"beneficiary_address":[],"beneficiary_country":null,"beneficiary_entity_type":"individual","beneficiary_company_name":null,"beneficiary_first_name":"Richard","beneficiary_last_name":"Nienaber","beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"NZ","bank_name":null,"bank_account_type":null,"currency":"NZD","account_number":"234234","routing_code_type_1":"bsb_code","routing_code_value_1":"4334334","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"default_beneficiary":"false","creator_contact_id":"c4d838e8-1625-44c6-a9fb-39bcb1fe353d","bank_address":[],"created_at":"2015-05-07T14:37:16+00:00","updated_at":"2015-05-07T14:37:17+00:00","beneficiary_external_reference":null},{"id":"287424a4-b3b9-4618-9b9c-c54e1c6e8b88","bank_account_holder_name":"Acme GmbH","name":"John Doe","email":null,"payment_types":["priority","regular"],"beneficiary_address":["London, UK"],"beneficiary_country":"DE","beneficiary_entity_type":"individual","beneficiary_company_name":"ACME Ltd.","beneficiary_first_name":"John","beneficiary_last_name":"Doe","beneficiary_city":"London","beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficia[...]
