-
  request:
    method: POST
    url: https://devapi.currencycloud.com/v2/beneficiaries/validate
    body: bank_country=GB&currency=GBP&account_number=12345678&routing_code_type_1=sort_code&routing_code_value_1=123456&payment_types[]=regular&beneficiary_country=GB
    headers:
      X-Auth-Token: e5070d4a16c5ffe4ed9fb268a2a716be
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"payment_types":["regular"],"bank_country":"GB","bank_name":"HSBC BANK PLC","bank_account_type":null,"currency":"GBP","account_number":"12345678","routing_code_type_1":"sort_code","beneficiary_address":[],"beneficiary_country":"GB","beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"routing_code_value_1":"123456","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"bank_address":["5 Wimbledon Hill Rd","Wimbledon","London"]}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/validate'
        headers:
            Content-Type: 'multipart/form-data; boundary=9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e'
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
        body: "--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"bank_country\"\r\nContent-Length: 2\r\n\r\nGB\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nGBP\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"beneficiary_country\"\r\nContent-Length: 2\r\n\r\nGB\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"account_number\"\r\nContent-Length: 8\r\n\r\n12345678\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"routing_code_type_1\"\r\nContent-Length: 9\r\n\r\nsort_code\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"routing_code_value_1\"\r\nContent-Length: 6\r\n\r\n123456\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e\r\nContent-Disposition: form-data; name=\"payment_types[]\"\r\nContent-Length: 7\r\n\r\nregular\r\n--9b4d3dcd3e03c83efeaf4d3b69f8847e9d4b033e--\r\n"
    response:
        status:
            code: '401'
            message: Unauthorized
        headers:
            Content-Type: application/json
        body: '{"error_code":"auth_failed","error_messages":{"username":[{"code":"invalid_supplied_credentials","message":"Authentication failed with the supplied credentials","params":{}}]}}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: 'multipart/form-data; boundary=43babbf0299f700938e0a9e047184797e2709d9e'
        body: "--43babbf0299f700938e0a9e047184797e2709d9e\r\nContent-Disposition: form-data; name=\"login_id\"\r\nContent-Length: 20\r\n\r\nrjnienaber@gmail.com\r\n--43babbf0299f700938e0a9e047184797e2709d9e\r\nContent-Disposition: form-data; name=\"api_key\"\r\nContent-Length: 64\r\n\r\nef0fd50fca1fb14c1fab3a8436b9ecb65f02f129fd87eafa45ded8ae257528f0\r\n--43babbf0299f700938e0a9e047184797e2709d9e--\r\n"
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"91c06eeec4d162a5b3ff77fb61a5f71d"}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/validate'
        headers:
            Content-Type: 'multipart/form-data; boundary=180b078500bde127706fdea79453578c866a2897'
            X-Auth-Token: 91c06eeec4d162a5b3ff77fb61a5f71d
        body: "--180b078500bde127706fdea79453578c866a2897\r\nContent-Disposition: form-data; name=\"bank_country\"\r\nContent-Length: 2\r\n\r\nGB\r\n--180b078500bde127706fdea7945[...]
