-
  request:
      method: POST
      url: 'https://devapi.currencycloud.com/v2/beneficiaries/find'
      headers:
          X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
      body: '--7914ad53fa674ed92ecef3487d764836ccfc1d3a\r\nContent-Disposition: form-data; name=\"bank_account_holder_name\"\r\nContent-Length: 9\r\n\r\nTest User\r\n--7914ad53fa674ed92ecef3487d764836ccfc1d3a\r\nContent-Disposition: form-data; name=\"per_page\"\r\nContent-Length: 1\r\n\r\n1\r\n--7914ad53fa674ed92ecef3487d764836ccfc1d3a--\r\n'
  response:
    status: 200
    headers:
      Content-Type: application/json
    body: '{"beneficiaries":[{"id":"081596c9-02de-483e-9f2a-4cf55dcdf98c","bank_account_holder_name":"Test User","name":"Test+User","email":null,"payment_types":["regular"],"beneficiary_address":[],"beneficiary_country":null,"beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"GB","bank_name":"HSBC BANK PLC","bank_account_type":null,"currency":"GBP","account_number":"41854372","routing_code_type_1":"sort_code","routing_code_value_1":"400730","routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":null,"iban":null,"default_beneficiary":"false","creator_contact_id":"c4d838e8-1625-44c6-a9fb-39bcb1fe353d","bank_address":["5 Wimbledon Hill Rd","Wimbledon","London"],"beneficiary_external_reference":null,"created_at":"2015-04-25T09:21:00+00:00","updated_at":"2015-04-25T10:58:21+00:00"}],"pagination":{"total_entries":1,"total_pages":1,"current_page":1,"per_page":1,"previous_page":-1,"next_page":-1,"order":"created_at","order_asc_desc":"asc"}}'
