-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/transfers/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: 038022bcd2f372cac7bab448db7b5c3b
        body: '--217baae4fcdc12bcfa4651a20c841ab3d878b303\r\nContent-Disposition: form-data; name=\"source_account_id\"\r\nContent-Length: 36\r\n\r\ncf28b2d8-5afa-4d7f-9a26-7b45bf616a11\r\n--217baae4fcdc12bcfa4651a20c841ab3d878b303\r\nContent-Disposition: form-data; name=\"destination_account_id\"\r\nContent-Length: 36\r\n\r\n22ed17b5-b90c-424e-aa78-d24928b1778e\r\n--217baae4fcdc12bcfa4651a20c841ab3d878b303\r\nContent-Disposition: form-data; name=\"currency\"\r\nContent-Length: 3\r\n\r\nGBP\r\n--217baae4fcdc12bcfa4651a20c841ab3d878b303\r\nContent-Disposition: form-data; name=\"amount\"\r\nContent-Length: 3\r\n\r\n100\r\n--217baae4fcdc12bcfa4651a20c841ab3d878b303--\r\n'
    response:
        status: 200
        headers:
            Content-Type: application/json
        body: '{"id":"d7b775da-ab7c-4584-82f8-e036dbc2dafb","short_reference":"BT-20181030-KVMTTT","source_account_id":"cf28b2d8-5afa-4d7f-9a26-7b45bf616a11","destination_account_id":"22ed17b5-b90c-424e-aa78-d24928b1778e","currency":"GBP","amount":"100.00","status":"pending","reason":null,"created_at":"2018-10-30T16:20:18+00:00","updated_at":"2018-10-30T16:20:18+00:00","completed_at":null,"creator_account_id":"72970a7c-7921-431c-b95f-3438724ba16f","creator_contact_id":"a66ca63f-e668-47af-8bb9-74363240d781", "unique_request_id":null}'
