-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=development%2Bcannot.authorise%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"f89f65824fb8ddb37e948e69ead65089"}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: f89f65824fb8ddb37e948e69ead65089
        body: 'bank_country=DE&currency=EUR&beneficiary_country=DE&bic_swift=COBADEFF&iban=DE89370400440532013000&bank_account_holder_name=Faces+GmbH&name=Jason+Donmash'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"7721a1e7-ea7f-41bf-b37a-990194a4911c","bank_account_holder_name":"Faces GmbH","name":"Jason Donmash","email":null,"payment_types":["regular"],"beneficiary_address":[],"beneficiary_country":"DE","beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"DE","bank_name":"TEST BANK NAME","bank_account_type":null,"currency":"EUR","account_number":null,"routing_code_type_1":null,"routing_code_value_1":null,"routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":"COBADEFF","iban":"DE89370400440532013000","default_beneficiary":"false","creator_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","bank_address":["TEST BANK ADDRESS"," NOT USING EXTERNAL SERVICE"," DEVELOPMENT ENVIRONMENT."],"created_at":"2018-10-03T09:50:45+00:00","updated_at":"2018-10-03T09:50:45+00:00","beneficiary_external_reference":null}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/payments/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: f89f65824fb8ddb37e948e69ead65089
        body: 'currency=EUR&amount=550&reason=canAuthorise+test+-+Payment+1&beneficiary_id=7721a1e7-ea7f-41bf-b37a-990194a4911c&reference=Invoice+%2311&payment_type=regular'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"de2fde9b-f16e-4164-961b-5fc9833dcee1","amount":"550.00","beneficiary_id":"7721a1e7-ea7f-41bf-b37a-990194a4911c","currency":"EUR","reference":"Invoice #11","reason":"canAuthorise test - Payment 1","status":"awaiting_authorisation","creator_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","payment_type":"regular","payment_date":"2018-10-03","transferred_at":"","authorisation_steps_required":"1","last_updater_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","short_reference":"181003-GJHFSB001","conversion_id":null,"failure_reason":"","payer_id":"2bb67b68-6da1-4823-8bb5-b578ee09a8fa","payer_details_source":"account","created_at":"2018-10-03T09:50:46+00:00","updated_at":"2018-10-03T09:50:46+00:00","payment_group_id":null,"unique_request_id":null,"failure_returned_amount":"0.00","ultimate_beneficiary_name":null,"purpose_code":null}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/payments/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: f89f65824fb8ddb37e948e69ead65089
        body: 'currency=EUR&amount=25&reason=canAuthorise+test+-+Payment+2&beneficiary_id=7721a1e7-ea7f-41bf-b37a-990194a4911c&reference=Invoice+%2312&payment_type=regular'
    response:
        status:
            code: '200'
            message: OK
   [...]
