-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/authenticate/api'
        headers:
            Content-Type: application/x-www-form-urlencoded
        body: 'login_id=development%2Bcannot.authorise%40currencycloud.com&api_key=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"auth_token":"1adb0d625886584da0335217e3a61c1f"}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/beneficiaries/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: 1adb0d625886584da0335217e3a61c1f
        body: 'bank_country=DE&currency=EUR&beneficiary_country=DE&bic_swift=COBADEFF&iban=DE89370400440532013000&bank_account_holder_name=Acme+GmbH&name=John+Doe'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"e13feeb7-ecbd-4747-ba2d-a2e6a4debb65","bank_account_holder_name":"Acme GmbH","name":"John Doe","email":null,"payment_types":["regular"],"beneficiary_address":[],"beneficiary_country":"DE","beneficiary_entity_type":null,"beneficiary_company_name":null,"beneficiary_first_name":null,"beneficiary_last_name":null,"beneficiary_city":null,"beneficiary_postcode":null,"beneficiary_state_or_province":null,"beneficiary_date_of_birth":null,"beneficiary_identification_type":null,"beneficiary_identification_value":null,"bank_country":"DE","bank_name":"TEST BANK NAME","bank_account_type":null,"currency":"EUR","account_number":null,"routing_code_type_1":null,"routing_code_value_1":null,"routing_code_type_2":null,"routing_code_value_2":null,"bic_swift":"COBADEFF","iban":"DE89370400440532013000","default_beneficiary":"false","creator_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","bank_address":["TEST BANK ADDRESS"," NOT USING EXTERNAL SERVICE"," DEVELOPMENT ENVIRONMENT."],"created_at":"2018-10-03T09:50:42+00:00","updated_at":"2018-10-03T09:50:42+00:00","beneficiary_external_reference":null}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/payments/create'
        headers:
            Content-Type: application/x-www-form-urlencoded
            X-Auth-Token: 1adb0d625886584da0335217e3a61c1f
        body: 'currency=EUR&amount=100&reason=cannot+Authorise+test&beneficiary_id=e13feeb7-ecbd-4747-ba2d-a2e6a4debb65&reference=Invoice+%2310&payment_type=regular'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"id":"320900f8-51a4-4341-b5aa-50f0cfb33161","amount":"100.00","beneficiary_id":"e13feeb7-ecbd-4747-ba2d-a2e6a4debb65","currency":"EUR","reference":"Invoice #10","reason":"cannot Authorise test","status":"awaiting_authorisation","creator_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","payment_type":"regular","payment_date":"2018-10-03","transferred_at":"","authorisation_steps_required":"1","last_updater_contact_id":"871b9f2f-f8a3-4010-b084-43e48ab4f404","short_reference":"181003-WSXBSH001","conversion_id":null,"failure_reason":"","payer_id":"2bb67b68-6da1-4823-8bb5-b578ee09a8fa","payer_details_source":"account","created_at":"2018-10-03T09:50:43+00:00","updated_at":"2018-10-03T09:50:43+00:00","payment_group_id":null,"unique_request_id":null,"failure_returned_amount":"0.00","ultimate_beneficiary_name":null,"purpose_code":null}'
-
    request:
        method: POST
        url: 'https://devapi.currencycloud.com/v2/payments/authorise?payment_ids%5B%5D=320900f8-51a4-4341-b5aa-50f0cfb33161'
        headers:
            X-Auth-Token: 1adb0d625886584da0335217e3a61c1f
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: application/json;charset=utf-8
        body: '{"authorisations":[{"payment_id":"320900f8-51a4-4341-b5aa-50f0cfb33161","payment_status":"awaiting_authorisation","updated":false,"error":"You cannot authorise this Payment as it was created by you.","auth_steps_taken":0,"auth_steps_required":1,"short_reference":"181003-WSXBSH001"}]}'
